@import "../assets/styles/_breakpoints";
.container {
  padding: 20px;
  display: flex;
  flex-direction: row;

  .container-header {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-direction: column;
  }

  .container-right {
    display: none;
  }

  .container-left {
    display: none;
  }

  .container-right {
    display: flex;
    flex-direction: column;
    flex: 1;
  }
}

.loading,
.no-results {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
}

@include media-breakpoint-up(sm) {
  .container {
    .container-header {
      flex-direction: row;
      align-items: flex-end;
    }
  }
}

@include media-breakpoint-up(lg) {
  .container {
    .container-left {
      display: flex;
      flex-direction: column;
      padding: 0 30px;
      width: 350px;
    }
    .container-header-right {
      display: none;
    }
  }
}
