<main class="container">
  <div class="container-left">
    <app-filter-card (onFilter)="tarifService.applyFilter($event)"></app-filter-card>
  </div>
  <div class="container-right">
    <div class="container-header">
      <app-select selectLabel="Order by:" [selectOptions]="
          [
            {label: 'Price: Ascending', value: 'asc'},
            {label: 'Price: Descending', value: 'desc'}
          ]
        "
                  (change)="applyPriceOrder($event)"
      ></app-select>
      <div class="container-header-right">
        <app-filter-modal></app-filter-modal>
      </div>
    </div>

    <div *ngIf="(tarifs$ | async) as tarifs; else loading">
      <app-card
        *ngFor="let tarif of tarifs index as i"
        [position]="i +1"
        [title]="tarif.name"
        [downloadSpeed]="tarif.downloadSpeed"
        [uploadSpeed]="tarif.uploadSpeed"
        [price]="tarif.price"
        [benefits]="tarif.benefitsNames"></app-card>

      <div
        *ngIf="tarifs && tarifs?.length === 0"
        class="no-results">No results found
      </div>

    </div>

    <ng-template #loading>
      <div class="loading">
        Loading...
      </div>
    </ng-template>

  </div>

</main>
