<app-card [position]="1" title="Tarif" [downloadSpeed]="30" [uploadSpeed]="9" [price]="30" [benefits]="['Benefit 1', 'Benefit 2', 'Benefit 3']"></app-card>
<app-card [position]="2" title="Tarif" [downloadSpeed]="30" [uploadSpeed]="9" [price]="30" [benefits]="['Benefit 1', 'Benefit 2', 'Benefit 3']"></app-card>
<app-card [position]="3" title="Tarif" [downloadSpeed]="30" [uploadSpeed]="9" [price]="30" [benefits]="['Benefit 1', 'Benefit 2', 'Benefit 3']"></app-card>
<app-card [position]="4" title="Tarif" [downloadSpeed]="30" [uploadSpeed]="9" [price]="30" [benefits]="['Benefit 1', 'Benefit 2', 'Benefit 3']"></app-card>
